$font-mon: 'Montserrat', sans-serif;
$font-rale: 'Raleway', sans-serif;


$color-white: #fff;
$color-black: #000;

$color-brand1: #ff4136;
$color-brand2: rgba(246, 246, 248, 0.9);



$size13: 13px;
$size16: 16px;
$size18: 18px;
$size22: 22px;
$size24: 24px;
$size28: 28px;
$size32: 32px;
