@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap);
nav {
  background-color: #fff; }
  nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; }
  nav .navbar-brand span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #1a1a1a; }
  nav .navbar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; }
    nav .navbar-nav ul li {
      margin: 0 15px; }
      nav .navbar-nav ul li a {
        color: #1a1a1a;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.5px; }
        nav .navbar-nav ul li a.active {
          color: #933469;
          border-bottom: 1px solid;
          padding-bottom: 6px; }
        nav .navbar-nav ul li a:hover {
          color: #933469;
          text-decoration: none;
          opacity: 0.7; }

footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  width: 100%; }
  footer p {
    margin: 5px 0;
    font-size: 13px; }
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start; }
    @media (min-width: 768px) {
      footer ul {
        justify-content: flex-end; } }
    footer ul li {
      margin: 5px; }
      footer ul li a {
        color: #1a1a1a;
        font-size: 13px; }
        footer ul li a:hover {
          color: #933469; }

.cardOne {
  margin: 50px 0; }
  @media (max-width: 767px) {
    .cardOne .container {
      max-width: 375px; } }
  .cardOne .card {
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    height: 400px;
    border: 1px solid #ccc;
    margin: 20px 0; }
    .cardOne .card:hover .card-img-overlay {
      bottom: 0; }
    .cardOne .card .card-title {
      margin: 0;
      font-weight: 500;
      text-transform: capitalize; }
    .cardOne .card .card-img {
      border-radius: 0;
      min-height: 400px; }
    .cardOne .card .card-img-overlay {
      transition: 0.5s ease;
      bottom: -200px;
      top: inherit;
      background-color: rgba(147, 52, 105, 0.6); }

.cardTwo {
  margin: 50px 0; }
  @media (max-width: 767px) {
    .cardTwo .container {
      max-width: 375px; } }
  @media (min-width: 992px) {
    .cardTwo .grid__list {
      flex-direction: column;
      height: 620px; }
      .cardTwo .grid__list li:last-child .card {
        height: 610px; }
        .cardTwo .grid__list li:last-child .card .card-img {
          min-height: 610px; } }
  .cardTwo .card {
    border-radius: 15px;
    overflow: hidden;
    height: 300px;
    border: 1px solid #ccc;
    margin: 0; }
    .cardTwo .card:hover .card-img-overlay {
      left: -250px; }
    .cardTwo .card .card-title {
      margin: 0;
      font-weight: 500;
      text-transform: capitalize; }
    .cardTwo .card .card-img {
      border-radius: 0;
      min-height: 300px; }
    .cardTwo .card .card-img-overlay {
      transition: 0.5s ease;
      bottom: inherit;
      top: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      left: 0;
      width: 100%;
      padding: 10px 15px;
      max-width: 160px;
      text-align: right;
      border-radius: 0 20px 20px 0; }

.productSlider {
  background-color: #f5f5f5;
  padding: 40px 0px; }
  @media (min-width: 768px) {
    .productSlider {
      padding: 80px 30px; } }
  .productSlider h2 {
    font-weight: 600;
    max-width: 800px;
    margin: 0 auto 40px;
    color: #933469; }
    @media (max-width: 767px) {
      .productSlider h2 {
        font-size: 1.6rem;
        margin: 0 auto 20px; } }
  .productSlider img {
    width: 100%; }
  .productSlider .productSlider__main {
    max-width: 800px;
    margin: auto; }
  .productSlider .productSlider__top {
    max-height: 220px;
    margin-bottom: 10px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .productSlider .productSlider__top {
        max-height: 480px;
        margin-bottom: 20px; } }
    .productSlider .productSlider__top .topList {
      background-color: #999; }
      .productSlider .productSlider__top .topList img {
        height: 220px;
        width: auto;
        margin: auto; }
        @media (min-width: 768px) {
          .productSlider .productSlider__top .topList img {
            height: 480px; } }
  .productSlider .productSlider__bottom {
    max-height: 60px; }
    @media (min-width: 768px) {
      .productSlider .productSlider__bottom {
        max-height: 120px; } }
    .productSlider .productSlider__bottom .slick-list {
      margin: 0 -5px; }
    .productSlider .productSlider__bottom .slick-slide {
      height: 60px;
      padding: 0 5px;
      overflow: hidden; }
      @media (min-width: 768px) {
        .productSlider .productSlider__bottom .slick-slide {
          height: 120px; } }
      .productSlider .productSlider__bottom .slick-slide.slick-current .bottomList {
        border: 1px solid #933469; }
    .productSlider .productSlider__bottom .bottomList {
      background-color: #999; }
      .productSlider .productSlider__bottom .bottomList img {
        height: 60px;
        width: auto;
        margin: auto; }
        @media (min-width: 768px) {
          .productSlider .productSlider__bottom .bottomList img {
            height: 120px; } }
    .productSlider .productSlider__bottom .slick-dots li button:before {
      color: #933469;
      font-size: 8px; }

