@import "src/styles/variables";

nav {
  background-color: $color-white;
  &.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .navbar-brand {
    span {
      font-family: $font-mon;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-black;
    }
  }
  .navbar-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) { 
        flex-direction: row;
      }

      li {
        margin: 15px;
        a {
          color: $color-black;
          font-weight: 600;
          text-transform: uppercase;
          font-size: $size13;
          letter-spacing: 0.5px;

          &.active  {
            color: $color-brand1;
            border-bottom: 1px solid;
            padding-bottom: 6px;
          }


          &:hover {
            color: $color-brand1;
            text-decoration: none;
            opacity: 0.7;
          }
        }
      }
    }
  }
}