@import "src/styles/variables";

.filter {
  margin: 70px 0 30px;
  .filterPan {
    margin: 15px 0;
    border-bottom: 1px solid #dddd;
  }
  h3 {
    color: $color-black;
    text-transform: uppercase;
    font-size: $size18;
    line-height: 24px;
    font-family: $font-mon;
  }
  ul {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    li {
      a {
        color: #444;
        font-size: $size13;

        &:hover {
          text-decoration: none;
          color: $color-brand1;
        }
      }
    }
  }
  .form-check-label {
    font-size: 14px;
    font-family: $font-mon;
    color: #444;
    font-weight: 300;
  }
  .form-control {
    margin: 15px 0;
    border-radius: 0;
  }
}