@import "src/styles/variables";

footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  width: 100%;
  p {
    margin: 5px 0;
    font-size: $size13;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }

    li {
      margin: 5px;
      a {
        color: $color-black;
        font-size: $size13;
        &:hover {
          color: $color-brand1;
        }
      }
    }
  }
}